<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
            Dante's Website
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Dante's Website</h1>
    <div class="heronav">
        <ul>
            <li class="nav_item">
                <a href="/">Home</a>
            </li>
            <li class="nav_item">
                <a href="/about">About</a>
            </li>
            <li class="nav_item">
                <a href="/contact">Contact</a>
            </li>
            <li class="nav_item">
                <a href="/social">Social</a>
            </li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>