{% extends 'blog/base.html'%}

{% block content%}
    <div class="main">
        <h2>Home Page</h2>
        <hr>
        <div class="uploads">
        {% for post in posts %}
            <div class="card">
                <a href={% url 'blog_page' slug=post.slug %}><img src="{{ post.cover.url }}"></a>
                <div class="container">
                    <p>{{ post.date }}</p>
                    <h3><a href="{% url 'blog_page' slug=post.slug %}">{{ post.title }}</a></h3>
                    <p>Dante Cicciarelli</p>
                </div>
            </div>
        {% endfor %}
        </div>     
    </div>   
{% endblock%}